@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding : 0 ; 
    margin : 0 ; 
    box-sizing: border-box;
}

 body {
  font-family: "Quicksand", sans-serif;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
/*utilities*/
.primary-text {
    color: #e4b95b;
}
.btn{
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding : 15px 30px ;
}

.btn-primary{
    margin-top: 30px;
    border: 1px solid ;
    color: white;
}

.btn-primary:hover , 
.btn-scondary:hover
{
    color: #e4b95b;
}
/*header start*/

header{
    height: 100vh;
    background: url("./img/home_bg.jpeg") center center / cover no-repeat ;
}
#navbar {
    display : flex ;
    justify-content: space-between;
    align-items: center;
}
#navbar img {
    width : 80px;
    margin-left : 100px;
}
#navbar ul{
    display: flex;
     margin-right : 100px;
}

#navbar ul li a {
    padding : 15px  20px ; 
    color: white;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom:  2px solid #e4b95b;
}

header .content{
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

header .content h1{
    font-size: 40px;
    color: aliceblue;
}

header .content p{
    font-size: 20px;
    padding : 40px 0 20px; 
    color: aliceblue;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left:0; 
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.6);
}

header *{
    z-index: 10;
}


/*header end*/  

/*about start*/

#about {
    height: 100vh;
}

#about .title{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .title h2{
    font-size: 40px;
    margin-top: 20px;
    color: #383848;
}

#about .title p{
    margin-top: 20px;
    color:#9a9a9a;
    font-weight: 600;
}

#about #about-content {
    display: flex;
    height: 80vh; ;

}

#about #about-content .left{
    width:100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-left: 7rem;

}

#about #about-content .left p{
    line-height: 2;
    font-weight: 500;
    font-size: large;
    color:#9a9a9a;
    padding-top: 60px;

}
#about #about-content .left a{
    margin-top: 2rem;
    background-color:#383848;
    width: 160px;
    color: aliceblue;
    margin-top: 30px;
}

#about #about-content .right img{
margin-top: 60px;
margin-left: 100px;
}

/*about end*/

#offers{
    height: 100vh;
    background: url("./img/offer-background.jpg") center center / cover no-repeat;
}

#offers .container{
    display : flex ;
    flex-direction: column;
    height:100vh ;
    justify-content: center;
}

#offers .container .title{
    height:20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#offers .container .title h2{
    font-size: 40px;
    color: aliceblue;
    margin-top: 50px;
    font-weight: 600;
}

#offers .container .title p{
color:#9a9a9a;
font-weight: 400;
margin-top: 20px;
}

#offers .container .meals {
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20vh;
}

#offers .container .meals .meal{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#offers .container .meals .meal h3{
    color: aliceblue;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 20px;

}

#offers .container .meals .meal p{
    color:#9a9a9a;
    text-align: center;
    margin-bottom: 20px;
}

/*offers end*/

/* menu start*/
/*menu end*/

/* gallery start*/
/*gallery end*/

/*contact start*/
#contact {

}
#contact .container{
   height:60vh;
     padding : 5rem 0 ; 
     max-width: 900px;
     display: flex;
     
    
}

#contact .container .info{
    display: flex; 
    justify-content: space-evenly;
    margin-left: 25rem;
    flex-direction: column;
}

#contact .container .info h3{
  margin-bottom: 5px;
    max-width: 700px;
} 
#contact .container .info p{
   
    max-width: 700px;
} 
#contact .container form{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 20rem;
}

#contact .container form input{
  margin-bottom: 1rem;
}

